In [2]:
import pandas as pd
import numpy as np

## First, create the exact dataset from Smith et al.

In [3]:
same_objects_each_week = True # whether or not to use the same 4 objects each week (unclear if paper does)
names = []
shapes = []
colors = []
textures = []
# 7 weeks of training
for week in range(7):
    # each week there are 4 objects
    for obj in range(4):
        # both instances of this object have the same name 
        # and same shape
        for i in range(2):
            if same_objects_each_week:
                names.append('obj%i' % obj)
                shapes.append(obj)
            else:
                names.append('week%i_obj%i' % (week, obj))
                shapes.append(week*4+obj)
        # assuming we have 10 colors, lets sample 2 random
        # colors w/out replacement to ensure that they are
        # different accross instances of the object
        c = list(np.random.choice(range(10), 2, replace=False))
        colors.extend(c)
        # same for textures
        t = list(np.random.choice(range(10), 2, replace=False))
        textures.extend(t)

df = pd.DataFrame()
df['name'] = names
df['shape'] = shapes
df['color'] = colors
df['textures'] = textures

In [4]:
df

    name  shape  color  textures
0   obj0      0      6         0
1   obj0      0      2         1
2   obj1      1      1         6
3   obj1      1      7         4
4   obj2      2      5         9
5   obj2      2      4         2
6   obj3      3      1         9
7   obj3      3      3         0
8   obj0      0      8         4
9   obj0      0      0         3
10  obj1      1      3         5
11  obj1      1      0         9
12  obj2      2      4         7
13  obj2      2      8         6
14  obj3      3      3         9
15  obj3      3      5         3
16  obj0      0      4         2
17  obj0      0      6         8
18  obj1      1      8         3
19  obj1      1      6         8
20  obj2      2      1         4
21  obj2      2      8         3
22  obj3      3      9         0
23  obj3      3      0         9
24  obj0      0      2         8
25  obj0      0      1         7
26  obj1      1      0         0
27  obj1      1      9         4
28  obj2      2      5         3
29  obj2      2      8         1
30  obj3      3      8         5
31  obj3      3      1         9
32  obj0      0      4         9
33  obj0      0      6         6
34  obj1      1      3         7
35  obj1      1      0         9
36  obj2      2      4         2
37  obj2      2      2         0
38  obj3      3      3         9
39  obj3      3      0         5
40  obj0      0      3         3
41  obj0      0      0         6
42  obj1      1      2         6
43  obj1      1      6         2
44  obj2      2      7         0
45  obj2      2      1         8
46  obj3      3      6         6
47  obj3      3      9         9
48  obj0      0      3         9
49  obj0      0      7         6
50  obj1      1      2         3
51  obj1      1      5         4
52  obj2      2      5         6
53  obj2      2      7         1
54  obj3      3      7         3
55  obj3      3      1         8

In [8]:
import os
store_path = os.path.realpath('../data/smith_objects.csv')
df.to_csv(store_path, index=False)

## Next, let's create a few different randomly-generated datasets

In [19]:
df = pd.DataFrame(columns=['name', 'shape', 'color', 'texture'])

In [9]:
a = np.zeros((10,4))

In [11]:
a[:,2] = np.random.choice(range(100), 10, replace=False)

In [13]:
a[:,0] = 1

In [14]:
a

array([[  1.,   0.,  24.,   0.],
       [  1.,   0.,  97.,   0.],
       [  1.,   0.,  99.,   0.],
       [  1.,   0.,  17.,   0.],
       [  1.,   0.,  65.,   0.],
       [  1.,   0.,  52.,   0.],
       [  1.,   0.,  78.,   0.],
       [  1.,   0.,  75.,   0.],
       [  1.,   0.,  61.,   0.],
       [  1.,   0.,  44.,   0.]])

In [20]:
df.append(pd.DataFrame(a, columns=['name', 'shape', 'color', 'texture']), ignore_index=True)

   name  shape  color  texture
0     1      0     24        0
1     1      0     97        0
2     1      0     99        0
3     1      0     17        0
4     1      0     65        0
5     1      0     52        0
6     1      0     78        0
7     1      0     75        0
8     1      0     61        0
9     1      0     44        0

In [78]:
def generate_dataset(nb_categories, nb_exemplars, nb_textures=10, nb_colors=10):
    """
    """
    # keep a running list of the dataframe chunks
    df_chunks = []
    # intialize labels
    labels = []
    for cat in range(nb_categories):
        # create placeholder array for this segment of the data
        arr = np.zeros((nb_exemplars, 3), dtype=np.int16)
        # shape is always correlated with the category
        arr[:,0] = cat
        # color and texture are generated at random
        arr[:,1] = np.random.choice(range(nb_textures), nb_exemplars, replace=True)
        arr[:,2] = np.random.choice(range(nb_colors), nb_exemplars, replace=True)
        # create a dataframe chunk with arr, append it to the list of chunks
        df_chunks.append(pd.DataFrame(arr, columns=['shape', 'color', 'texture'], dtype=np.int16))
        # add to labels
        labels.extend(['obj%i' % cat for i in range(nb_exemplars)])
    # concatenate df chunks, turn labels list into series, return
    return pd.concat(df_chunks), pd.Series(labels)

In [79]:
df, labels = generate_dataset(10, 2)

In [80]:
df

   shape  color  texture
0      0      5        9
1      0      6        3
0      1      8        4
1      1      0        2
0      2      6        8
1      2      4        7
0      3      1        2
1      3      6        9
0      4      0        3
1      4      6        1
0      5      9        1
1      5      0        8
0      6      2        1
1      6      8        1
0      7      3        5
1      7      6        3
0      8      2        4
1      8      0        5
0      9      5        4
1      9      6        1

In [81]:
labels

0     obj0
1     obj0
2     obj1
3     obj1
4     obj2
5     obj2
6     obj3
7     obj3
8     obj4
9     obj4
10    obj5
11    obj5
12    obj6
13    obj6
14    obj7
15    obj7
16    obj8
17    obj8
18    obj9
19    obj9
dtype: object

In [82]:
df_path = os.path.realpath('../data/smith_objects.csv')
labels_path = os.path.realpath('../data/smith_labels.csv')
df.to_csv(df_path, index=False)
labels.to_csv(labels_path, index=False)